Flask
Flask-CKEditor
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mail
Mako
MarkupSafe
python-dotenv
pytz
requests
SQLAlchemy
urllib3
Werkzeug
WTForms
gunicorn
