
.facebook {
    margin-left: 100px;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h5 {
    font-size: large;
}

h1 {
    margin: 16px;
    font-size: 64px;
}

a {
    color: black;
}


/*
screen sizing taken from https://stackoverflow.com/questions/53201195/how-to-make-my-website-fit-any-screen-size
*/
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

div {
    width: 100vw;
    height: 100vh;
}

.nav-bar {
    position: fixed;
    width: 100%;
    height: auto;
    padding: px 24px;
}

.nav-bar, h1, button {
    font-family:'Times New Roman', Times, serif
}

.sign-in {
    float: right;
    padding-right: 35px;
    font-size: 35px;
}

nav ul {
    list-style: none;
    background-color: black ;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

}

header {
    background-color: rgba(144, 150, 153, 0.849);
    text-align: center;
    padding:128px 16px;
}

iframe {
    width: 350px;
    height: 300px;
    margin-left: 100px;
}

th, td {
    padding: 30px;
    text-align: left;
    font-size: 15px;
    background-color: rgba(187, 198, 199, 0.534);
    color: rgb(0, 0, 0);
}

#spaces_booking {
    padding-right:123px;
    padding-left:123px;
}

footer {
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgba(144, 150, 153, 0.849);
    margin-top: 200px;
    padding: 10px 20px;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.description {
    font-size: 26px;
}

.top_button{
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 18px;
    margin-top: 16px;
    display: inline-block;
    padding: 12px 24px;
    vertical-align: middle;
    cursor: pointer;
}

.top_button:hover {
    background: rgba(29, 30, 31, 0.849);
    transition: .5s;
}


.grid1 {
    padding-top: 75px!important;
    padding-bottom: 500px!important;
    padding: 16px;
    
}

.grid_content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: inherit;

}

.two_third {
    width: 66.66%;
    float: left;
}

.h5_padding {
    padding-top: 32px;
    padding-bottom: 32px;
}

.third {
    width: 33%;
    float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

