{% extends 'base.html' %}
{% block content %}
<h1 class="appTitle" style="margin-top: 5vw;">Vendor Applications</h1>
<div class="application">
    
  <fieldset class="vendorInfo">
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Business</th>
                <th>Address</th>
                <th>City, State, Zip</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Description</th>
                <th>Booth(s) Location</th>
                <th>Number of Tables</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for item in data %}
              <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.business }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.citystatezip }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.phoneNum }}</td>
                <td>{{ item.desc }}</td>
                <td>{{ item.boothLoc }}</td>
                <td>{{ item.tableNum }}</td>
                <td>{{ item.status }}</td>
                <td>
                {% if item.status == "pendingApproval" %}
                <div style="display: inline-flex">
                <form class="reset" method="POST" action="/adminapp/{{ item.id }}">
                  <input type="hidden" name="action" value="confirm">
                  <button class="button confirm" type="submit">Confirm</button>
                </form>
                <form class="reset" method="POST" action="/adminapp/{{ item.id }}">
                  <input type="hidden" name="action" value="deny">
                  <button class="button deny" type="submit">Deny</button>
                </form>
                </div>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </fieldset>
</div>

{% endblock %}