<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
        <title>Admin Page</title>
    </head>
    <body>
        <a href="#" class="notification">
            <span>Inbox</span>
            <span class="badge"></span>
        </a>
        <p>Welcome Back!</p>
        <div class="flex-container">
            <div class="flex-child left">
                List View
            </div>

            <div class="flex-child right">
                Map View
            </div>

        </div>
    </body>
</html>