{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <h1 class="appTitle">Admin Vendor Application</h1>
  <div class="col-12 col-md-6 application">
    <form class="form" method="POST" action="/adminDB">
      {{ form.csrf_token() }}
      {% if form.errors %}
        <ul class="errors">
          {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
              <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
      <fieldset>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                {{form.name.label}}{{form.name(class="form-control")}}
                <small class="text-muted">Enter the name of the vendor.</small>
              </div>
              <div class="form-group">
                {{form.business.label}}{{form.business(class="form-control")}}
                <small class="text-muted">Provide the business name of the vendor. Try avoid having apostrophes, it conflicts with the map hovering ex. "Joe's Business" should be "Joes Business".</small>
              </div>
              <div class="form-group">
                {{form.address.label}}{{form.address(class="form-control")}}
                <small class="text-muted">Enter the address of the vendor. No formatting enforced.</small>
              </div>
              <div class="form-group">
                {{form.citystatezip.label}}{{form.citystatezip(class="form-control")}}
                <small class="text-muted">Enter the city, state, and zip code of the vendor's location. No formatting enforced.</small>
              </div>
              <div class="form-group">
                {{form.email.label}}{{form.email(class="form-control")}}
                <small class="text-muted">Enter the email address of the vendor. If they do not have an email, enter NA@NA.com</small>
              </div>
              <div class="form-group">
                {{form.phoneNum.label}}{{form.phoneNum(class="form-control")}}
                <small class="text-muted">Enter the phone number of the vendor.</small>
              </div>
              <div class="form-group">
                {{form.desc.label}}{{form.desc(class="form-control")}}
                <small class="text-muted">Provide a description of the vendor or their products/services.</small>
              </div>
              <div class="form-group">
                {{form.boothNum.label}}{{form.boothNum(class="form-control")}}
                <small class="text-muted">Enter the number of booths assigned to the vendor. Must match number of Booth Locations.</small>
              </div>
              <div class="form-group">
                {{form.tableNum.label}}{{form.tableNum(class="form-control")}}
                <small class="text-muted">Enter the table count desired by the vendor, enter 0 if none.</small>
              </div>
              <div class="form-group">
                {{form.payment_amount.label}}{{form.payment_amount(class="form-control")}}
                <small class="text-muted">Specify the payment amount for the vendor. Do not include a $.</small>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-3">
          {{form.boothLoc.label}}
          
          {% if boothLoc_ is not none %}
            {{form.boothLoc(value=boothLoc_, class="form-control")}}
          {% else %}
            {{form.boothLoc(class="form-control")}}
          {% endif %}
          <small class="text-muted">Specify the location of the vendor's booth. Enter values seperated by a comma, no spaces Ex. 1,2,3</small>
        </div>
        <div class="form-group">
          {{form.submit(class="btn btn-primary")}}
        </div>
      </fieldset>
      <div class="disclaimer mt-3">
        <p class="text-muted">If you are adding a PDF vendor who paid with a check, please follow these steps:</p>
        <ol class="text-muted">
          <li>Fill out all the vendor information in the form, including their name, business name, address, city, state, zip code, email, phone number, description, number of booths, table count, and payment amount.</li>
          <li>In the Payment Amount section, enter either 0 or the amount they owed.</li>
          <li>Click the Submit button to save the vendor details.</li>
          <li>Find the vendor's name in the database table.</li>
          <li>Click the Edit button (located underneath Actions) for that vendor.</li>
          <li>Change the vendor's status to "Finalized".</li>
          <li>Confirm by checking map located on the Home page</li>
        </ol>
        <p class="text-muted">This process ensures accurate recording of the payment and finalizes the vendor's status. They will not recieve an email or an invoice. </p>
      </div>
      <div class="disclaimer2 mt-3">
        <p class="text-muted">If you are adding a PDF vendor who sent in a mail application but would like to pay online, please follow these steps:</p>
        <ol class="text-muted">
          <li>Fill out all the vendor information in the form, including their name, business name, address, city, state, zip code, email, phone number, description, number of booths, table count, and payment amount.</li>
          <li>In the Payment Amount section, enter the amount owed.</li>
          <li>Click the Submit button to save the vendor details.</li>
          <li>Find the vendor's name in the database table.</li>
          <li>Click the Confirm button (located underneath Actions). They will recieve an email with the payment amount you specified and a link to the PayPal page.</li>
          <li>Following their payment, they will automatically be set to "Finalized" and thus appear on the map and table</li>
          <li>Confirm by checking map located on the Home page</li>
        </ol>
        <p class="text-muted">This process ensures accurate recording of the payment and finalizes the vendor's status. They will recieve one invoice and two emails. </p>
      </div>
      <div class="disclaimer3 mt-3">
        <p class="text-muted">If you are wanting to remove a vendor for any reason, please follow these steps:</p>
        <ol class="text-muted">
          <li>Find the vendor's name in the database table.</li>
          <li>Click the Edit button (located underneath Actions) for that vendor.</li>
          <li>Change the vendor's status to "Denied". They wil remain in the database, but no longer will be displayed on the map.</li>
          <li>To revert, change the vendor's status back to "Finalized"</li>
        </ol>
        <p class="text-muted">This process removes the vendor from the Home page table and map. They will not recieve an email or be notified in any form.</p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
