{% extends 'base.html' %}
{% block content %}
<div class="application">
<form method="POST" action="/adminapp/{{vendor_status_update.id}}">
    
    <h1 class="appTitle">Vendor Applications</h1>
    <fieldset class="businessInfo">
        {% for item in vendors %}
        <div>{{item.name}}
            {{item.business}}
            {{item.address}}
            {{item.citystatezip}}
            {{item.email}}
            {{item.phoneNum}}
            {{item.desc}}</div>
            <button href="/adminapp/{{item.id}}" class="button button1" name="confirm" value="confirm">Confirm</button>
            <button href="/adminapp/{{item.id}}" class="button button3" name="deny" value="deny">Deny</button>
        {% endfor %}
    </fieldset>

</form>
</div>

{% endblock %}