{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"/>
<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>


<div class="database-export">
  <a href="/adminapp/download_data">Download Table</a>
</div>
  <div class="container-fluid">
    <h1 class="appTitle">Vendor Applications</h1>
    <div class="database-export">
      <a href="/adminapp/download_data">Download Table</a>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="table-responsive">
          <!-- The following code represents a table that displays a list of vendors and their information, with the ability for an administrator to take actions on each vendor, such as confirming or denying their application. -->
          <table class="table table-striped table-bordered display" id="myTable">
            <!-- The 'thead' element contains the table header row, which defines the column labels. -->
            <thead>
              <tr>
                <th>Name</th>
                <th>Business</th>
                <th>Address</th>
                <th>City, State, Zip</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Description</th>
                <th>Booth(s) Location</th>
                <th>Number of Tables</th>
                <th>Payment Amount</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>

            <!-- The 'tbody' element contains the table data, with one row for each vendor in the 'data' list. -->
            <tbody>
              {% for item in data %}
                {% if item.year == current_year %}
                    <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.business }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.citystatezip }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phoneNum }}</td>
                    <td>{{ item.desc }}</td>
                    <td>{{ item.boothLoc }}</td>
                    <td>{{ item.tableNum }}</td>
                    <!-- The following column shows the vendor's payment amount and provides a button for the administrator to send an email to the vendor. -->
                    <td>{{ item.payment_amount }} 
                      
                    </td>
                    <td>{{ item.status }}</td>
                    <td>
                      <div class="text-center mb-3">
                        <form class="reset" method="POST" action="/adminapp/{{ item.id }}">
                          <input type="hidden" name="action" value="send_email">
                          <button class="send btn btn-primary mt-1 mb-1" type="submit">Send Email</button>
                        </form>
                      </div>
                    </td>
                    <td>{{ item.status }}</td>
                    <td>
                      <!-- If the vendor's status is 'pendingApproval', the administrator can confirm or deny the vendor's application by clicking on one of two buttons. -->
                      {% if item.status == "pendingApproval" %}
                        <div style="display: inline-flex">
                          <form class="reset" method="POST" action="/adminapp/{{ item.id }}">
                            <input type="hidden" name="action" value="confirm">
                            <button class="btn btn-success me-2" type="submit">Confirm</button>
                          </form>
                          <form class="reset" method="POST" action="/adminapp/{{ item.id }}">
                            <input type="hidden" name="action" value="deny">
                            <button class="btn btn-danger" type="submit">Deny</button>
                          </form>
                        </div>
                        
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <!-- The following div contains two buttons: one for adding a new vendor to the list, and one for editing an existing vendor's information. -->
          <div class="d-flex align-items-center mb-3">
            <a href="{{ url_for('adminDB') }}" class="btn btn-success me-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
              Add
            </a>
            <a href="{{ url_for('adminDB') }}" class="btn btn-primary">
              <span>&#9998;</span>
              Edit
            </a>
          </div>
          
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <h3 class="mb-3">Application Notes</h3>
        <div class="col-md-12"></div>
        <form method="POST">
          {{ form.csrf_token }}
          {{ form.notes.label }} {{ ckeditor.create(name='notes', value=appData.notes) }}  <!-- Set the value of CKEditor textarea -->
          {{ form.submit(class_='btn btn-primary') }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='notes') }}
      </div>
      </div>
    </div>

    <div class="row paddingHere">
      <div class="col-md-6">
        <div id="UpdateCurrYear">
          <h3>Update Current Year</h3>
          <form method="POST">
            <div class="form-group">
              <label for="year">Current Year:</label>
              <input type="number" id="year" name="year" min="1900" max="2100" value="{{ current_year }}" class="form-control" style="width: 150px;" required>
            </div>
            <button type="submit" name="currYearBtn" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    
      <div class="col-md-6">
        <div id="UpdatePaymentDeadline">
          <h3>Update Payment Deadline Length</h3>
          <form method="POST">
            <div class="form-group">
              <label for="day">Current Deadline:</label>
              <input type="number" id="day" name="day" min="7" max="30" value="{{ deadline }}" class="form-control" style="width: 150px;" required>
            </div>
            <button type="submit" name="paymentDeadlineBtn" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
    
    
    
    <!-- Make sure jQuery and DataTables are included -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript">
      $(document).ready(function () {
        $('#myTable').DataTable();
      });  
      
      const button = document.querySelector('.send');

      // Add an event listener to the button element
      button.addEventListener('click', function() {
        // Change the button color to a confirmation color
        button.style.backgroundColor = 'green !important';

        // Set a timeout to revert the color back to normal after 1 second
        setTimeout(function() {
          button.style.backgroundColor = '';
        }, 1000);
      });

    </script>

{% endblock %}
