{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"/>
<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>


<h1 class="appTitle">Vendor Application</h1>

<form class="form" style="padding-left: 5%;" method="POST" action="/application">
    {{ form.csrf_token() }}
        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
<div class="mt-4 background">
    <div class="col-12 col-md-6 mb-4">
        <div class="map_width">
            <div class="grid-container-vendor">
                <div class="reserved">Reserved</div>
                <div class="item_legend">#</div>
                <div class="pend">Pending</div>
                <div class="pend_legend">#</div>
                <div class="available">Available</div>
                <div class="available_legend">#</div>
                <div class="legend_filler"></div>
                
                    {% for cell in range(12) %}
                        <div class="filler"></div>
                    {% endfor %}
                    
                    {% for key in vendor_dict %}
                        {% if vendor_dict[key]['status'] == 'APPROVED' %}
                            {% set booth_num_ = vendor_dict[key]['booth_num'] %}
                            {% set business_name_ = vendor_dict[key]['business_name'] %}
                            <div class="item approved booth_{{ booth_num_ }}" onmouseover="content('.booth_{{ booth_num_ }}', '{{business_name_}}')" onmouseout="content('.booth_{{ booth_num_ }}', '{{booth_num_}}')">{{vendor_dict[key]['booth_num']}}</div>
                        {% elif vendor_dict[key]['status'] == 'PENDING' %}
                            {% set booth_num_ = vendor_dict[key]['booth_num'] %}
                            <div class="item pending booth_{{ booth_num_ }}" onmouseover="content('.booth_{{ booth_num_ }}', 'Pending')" onmouseout="content('.booth_{{ booth_num_ }}', '{{booth_num_}}')">{{vendor_dict[key]['booth_num']}}</div>
                        {% elif vendor_dict[key]['status'] == 'NOTINIT' %}
                            {% set booth_num_ = vendor_dict[key]['booth_num'] %}
                            <div class="empty" onclick="setBoothLoc('{{booth_num_}}')">{{vendor_dict[key]['booth_num']}}</div>
                        {% else %}
                            <div class="filler"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
</div>

<script>
    function setBoothLoc(boothNum) {
        document.getElementById("boothLoc").value += ' ' + boothNum;
    }

    function content(divSelector, value) {
        document.querySelector(divSelector).innerHTML = value;
    }
</script>
        
        <div class="col-12 col-md-6">
            <div class="application">                    
                    <fieldset class="businessInfo">
                        <legend>Business Information</legend>
                        <div class="form-group">
                            {{form.name.label}}{{form.name(class="form-control")}}
                            {{form.business.label}}{{form.business(class="form-control")}}
                            {{form.address.label}}{{form.address(class="form-control")}}
                            {{form.citystatezip.label}}{{form.citystatezip(class="form-control")}}
                            {{form.email.label}}{{form.email(class="form-control")}}
                            {{form.phoneNum.label}}{{form.phoneNum(class="form-control")}}
                            {{form.desc.label}}{{form.desc(class="form-control")}}
                            {{form.boothNum.label}}{{form.boothNum(class="form-control")}}
                            {{form.tableNum.label}}{{form.tableNum(class="form-control")}}
                          </div>
                          <div class="form-group mb-3">
                            {{form.boothLoc.label}}
                            {% if boothLoc_ is not none %}
                              {{form.boothLoc(value=boothLoc_, class="form-control")}}
                            {% else %}
                              {{form.boothLoc(class="form-control")}}
                            {% endif %}
                          </div>
                          
                </fieldset>
            </div>
        </div>
        <div class="note d-inline-block">
            {{ appText.notes|safe }}
        </div>
        <div>{{form.terms.label}}{{form.terms()}}</div>
        <div>{{form.submit()}}</div>
</form>
{% endblock %}