{% extends 'base.html' %}
{% block content %}

    <!--<link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">-->
    <h1 class="appTitle">Vendor Application</h1>

    <div class="application">
        <form class="form" method="POST" action="/application">
            {{ form.csrf_token() }}
            {% if form.errors %}
                <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            {% endif %}
            <fieldset class="businessInfo">
                <div>{{form.name.label}}{{form.name()}}</div>
                <div>{{form.business.label}}{{form.business()}}</div>
                <div>{{form.address.label}}{{form.address()}}</div>
                <div>{{form.citystatezip.label}}{{form.citystatezip()}}</div>
                <div>{{form.email.label}}{{form.email()}}</div>
                <div>{{form.phoneNum.label}}{{form.phoneNum()}}</div>
                <div>{{form.desc.label}}{{form.desc()}}</div>
            </fieldset>
            <fieldset class="boothPrice">
                <div>{{form.boothNum.label}}{{form.boothNum()}}</div>
                <div>{{form.tableNum.label}}{{form.tableNum()}}</div>   
                <div>
                    {{form.boothLoc.label}}
                    
                    {% if boothLoc_ is not none %}
                        {{form.boothLoc(value=boothLoc_)}}
                    {% else %}
                        {{form.boothLoc()}}
                    {% endif %}
                </div>
            </fieldset>
            <div class="note">
                {{ appText.notes|safe }}
            </div>
            <div>{{form.terms.label}}{{form.terms()}}</div>
            <div>{{form.submit()}}</div>
        </form>
    </div>
{% endblock %}