<!doctype html>
<html>
  <html lang="en"></html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='./index.css') }}">
      {% if title %}
      <title>{{ title }} - Running Water Draw Festival</title>
      {% else %}
      <title>Running Water Draw Festival</title>
      {% endif %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
