<!doctype html>
<html>
  <html lang="en"></html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='./index.css') }}">
      {% if title %}
      <title>{{ title }} - Running Water Draw Festival</title>
      {% else %}
      <title>Running Water Draw Festival</title>
      {% endif %}
    </head>
    <body>
      <!-- Nav bar with links to Home, PDF, Vendor, Photos, and Contact Us-->
      <div class="nav-bar">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="./static/vendor_app/2023RWDApplication.pdf" target="blank">PDF</a></li>
                <li><a href="{{ url_for('application') }}">Vendor</a></li>
                <li><a href="#footer">Photos</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <!-- Link to for user login  
            {% if current_user.is_anonymous %}
            <a class="login" href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            -->
        </nav>
      </div>
        {% block content %}{% endblock %}
    </body>
</html>
