{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class = "containerPrint background confirmation">
    <body id="printable-area">
      <div class="row">
        <div class="col">
          <h1 class="mt-5">Thank you for your application! We appreciate your submission.</h1>
          <h3 class="text-center mt-3">Please allow us some time to review your application.</h3>
          <h3 class="text-center mt-3">If you would like to keep a record of this information,</h3>
          <h3 class="text-center mt-3">please consider printing this page for your reference.</h3>
          <p class="mt-4"><strong>Name:</strong> {{ name }}</p>
          <p><strong>Business Name:</strong> {{ business }}</p>
          <p><strong>Address:</strong> {{ address }}</p>
          <p><strong>City, State, Zip:</strong> {{ citystatezip }}</p>
          <p><strong>Email Address:</strong> {{ email }}</p>
          <p><strong>Phone Number:</strong> {{ phoneNum }}</p>
          <p><strong>Business Description:</strong> {{ desc }}</p>
          <p><strong>Booth Location:</strong> {{ boothLoc.replace(",", ", ") }}</p>
          <p><strong>Number of Tables Required:</strong> {{ tableNum }}</p>
          <p><strong>Numbers of Booths Required:</strong> {{ boothNum }}</p>
          <p><strong>Application submitted on:</strong> {{ date }}</p>
          <button class="btn btn-primary text-center" onclick="printContent()">Print</button>
        </div>
      </div>
    </body>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function printContent() {
        var printWindow = window.open('', '', 'height=500,width=800');
        var printDocument = printWindow.document;
        var contents = document.getElementById("printable-area").innerHTML;
        printDocument.write('<html><head><title>Application summary</title></head><body>');
        printDocument.write('<h1>Thank you for your application!</h1><h3>If you would like to save this information for your records, please print this page.</h3><p>Name: {{ name }}</p><p>Business Name: {{ business }}</p>    <p>Address: {{ address }}</p>');
        printDocument.write('<p>City, State, Zip: {{ citystatezip }}</p><p>Email Address: {{ email }}</p><p>Phone Number: {{ phoneNum }}</p><p>Business Description: {{ desc }}</p><p>Booth Location: {{ boothLoc.replace(",", ", ") }}</p><p>Number of Tables Required: {{ tableNum }}</p>');
        printDocument.write('<p>Numbers of Booths Required: {{ boothNum }}</p><p>Application submitted on {{ date }}</p>');
        printDocument.write('</body></html>');
        printDocument.close();
        printWindow.focus();
        printWindow.print();
        printWindow.close();
    }
</script>
{% endblock %}