{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"/>
<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>

<div class="container-fluid">
    <h1 class="appTitle">Edit Vendor Information</h1>
    <div class="row mt-3">
      <div class="col-md-12">
        <form method="POST" action="/DBEdit/{{ vendor.id }}">
            {{ form.csrf_token() }}
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}    
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-8">
                  <div class="form-group">
                    {{form.name.label}}{{form.name(value=vendor.name,class="form-control")}}
                    <small class="text-muted">Enter the name of the vendor.</small>
                  </div>
                  <div class="form-group">
                    {{form.business.label}}{{form.business(value=vendor.business,class="form-control")}}
                    <small class="text-muted">Provide the business name of the vendor. Try avoid having apostrophes, it conflicts with the map hovering ex. "Joe's Business" should be "Joes Business"</small>
                  </div>
                  <div class="form-group">
                    {{form.address.label}}{{form.address(value=vendor.address,class="form-control")}}
                    <small class="text-muted">Enter the address of the vendor. No formatting enforced.</small>
                  </div>
                  <div class="form-group">
                    {{form.citystatezip.label}}{{form.citystatezip(value=vendor.citystatezip,class="form-control")}}
                    <small class="text-muted">Enter the city, state, and zip code of the vendor's location. No formatting enforced. </small>
                  </div>
                  <div class="form-group">
                    {{form.email.label}}{{form.email(value=vendor.email,class="form-control")}}
                    <small class="text-muted">Enter the email address of the vendor. If they do not have an email, enter NA@NA.com</small>
                  </div>
                  <div class="form-group">
                    {{form.phoneNum.label}}{{form.phoneNum(value=vendor.phoneNum,class="form-control")}}
                    <small class="text-muted">Enter the phone number of the vendor.</small>
                  </div>
                  <div class="form-group">
                    {{form.desc.label}}{{form.desc(value=vendor.desc,class="form-control")}}
                    <small class="text-muted">Provide a description of the vendor or their products/services.</small>
                  </div>
                  <div class="form-group">
                    {{form.boothLoc.label}}{{form.boothLoc(value=vendor.boothLoc,class="form-control")}}
                    <small class="text-muted">Specify the location of the vendor's booth. Enter values seperated by a comma, no spaces Ex. 1,2,3</small>
                  </div>
                  <div class="form-group">
                    {{form.boothNum.label}}{{form.boothNum(value=vendor.boothNum,class="form-control")}}
                    <small class="text-muted">Enter the number of booths assigned to the vendor. Must match number of Booth Locations.</small>
                  </div>
                  <div class="form-group">
                    {{form.tableNum.label}}{{form.tableNum(value=vendor.tableNum,class="form-control")}}
                    <small class="text-muted">Enter the table count desired by the vendor, enter 0 if none.</small>
                  </div>
                  <div class="form-group">
                    {{form.payment_amount.label}}{{form.payment_amount(value=vendor.payment_amount,class="form-control")}}
                    <small class="text-muted">Specify the payment amount for the vendor. Do not include a $.</small>
                  </div>
                  <div class="form-group">
                    {{form.status.label}}{{form.status(value=vendor.status,class="form-control")}}
                    <small class="text-muted">Provide the status or current state of the vendor. </small>
                  </div>
                  <div class="form-group">
                    {{form.submit}}
                  </div>
                </div>
              </div>
            </div>
            
            
        </form>
      </div>
    </div>
  </div>
{% endblock %}