{% extends "base.html" %}
{% block content %}

<!-- Boostrap link -->
<link rel="stylesheet" a href="{{url_for('static',filename='css/bootstrap.css')}}"/>
<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
{% set reserved_booths = [".cell_46", ".cell_45", ".cell_44", ".cell_43", ".cell_42", ".cell_41", ".cell_52", ".cell_50", ".cell_49" ,".cell_48", ".cell_31", ".cell_35", ".cell_36", ".cell_38", ".cell_15", ".cell_14", ".cell_13", ".cell_12", ".cell_25", ".cell_26", ".cell_21", ".cell_6", ".cell_5", ".cell_19", ".cell_20", ".cell_22"] %}

<!-- Header -->
<header>
<!-- Header image -->
<img src="./static/header/Header.png" alt="RDWD Header" height="468" width="800" class="page_header"> <br><br>
<!-- Linkts to application, both PDF and online versions -->
<a href ="{{ url_for('application') }}"><button class="top_button1">Online Vendor Application</button> </a>
<a href ="./static/vendor_app/2023RWDApplication.pdf" target="blank"><button class="top_button1">PDF Vendor Application</button> </a>

</header>

<!-- First grid -->
<div class="grid1">
    <div class="grid_content">
        <div class="two_third">
        <!-- displays name of festival -->
        <h1>Running Water Festival</h1>
        <h5 
            class="h5_padding">The Plainview Rotary Club's 49th Annual Running Water Draw Festival will be held at the Ollie Liner Center (2000 S. Columbia St.) on Friday, Saturday and Sunday, October 20th, 21st & 22nd.
        </h5>

        <!-- button that switch between the list and map views -->
        <button class="top_button" id="spaces_booking" onclick="showList()">List View</button>
        <button class="top_button" id="spaces_booking" onclick="showMap()">Map View</button>
             <!-- Table of verifed vendors -->
            <!-- scroll bar taken from https://stackoverflow.com/questions/8232713/how-to-display-scroll-bar-onto-a-html-table-->
            <div id="list-view">
                <div id="table-wrapper">
                    <div id="table-scroll">
                        <table class="list">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Business</th>
                                    <th>Description</th>
                                    <th>Assigned 1</th>
                                    <th>Assigned 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vendor in vendors %}
                                <tr>
                                    <td>{{ vendor.name }}</td>
                                    <td>{{ vendor.business }}</td>
                                    <td>{{ vendor.desc }}</td>
                                    <td>{{ vendor.boothNum }}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table> <br><br>
                    </div>
                </div>
            </div>
            <br><br>

            <div id="map-view" style="display: none">
                <div class="grid-container">
                    <!--
                    {% for x in range(336) %}
                    <div class="item">{{x}}</div>
                    {% endfor %}
                    -->
                {% for vendor in vendors %}
                    {% if vendor is vendor.boothNum %}
                        <div class="reserved">Reserved</div>
                        <div class="item_legend">#</div>
                        <div class="available">Available</div>
                        <div class="available_legend">#</div>
                        
                        {% for cell in range(18) %}
                        <div class="filler"></div>
                        {% endfor %}

                        <div class="item cell_128">128</div>
                        <div class="filler"></div>
                        <div class="item cell_115">115</div>
                        <div class="item cell_116">116</div>
                        <div class="filler"></div>
                        <div class="item cell_119">119</div>
                        <div class="item cell_120">120</div>
                        <div class="filler"></div>
                        <div class="item cell_123">123</div>
                        <div class="item cell_115">124</div>

                        <div class="filler"></div>
                        <div class="filler"></div>

                        <div class="item cell_126">126</div>
                        <div class="filler"></div>
                        <div class="item cell_113">113</div>
                        <div class="item cell_114">114</div>
                        <div class="filler"></div>
                        <div class="item cell_117">117</div>
                        <div class="item cell_118">118</div>
                        <div class="filler"></div>
                        <div class="item cell_121">121</div>
                        <div class="item cell_122">122</div>
                        <div class="filler"></div>
                        <div class="filler"></div>

                        <div class="item cell_126">126</div>
                        {% for cell in range(11) %}
                        <div class="filler"></div>
                        {% endfor %}

                        <div class="item cell_125">125</div>
                        <div class="filler"></div>
                        <div class="item cell_103">103</div>
                        <div class="item cell_104">104</div>
                        <div class="filler"></div>
                        <div class="item cell_107">107</div>
                        <div class="item cell_108">108</div>
                        <div class="filler"></div>
                        <div class="item cell_111">111</div>
                        <div class="item cell_112">112</div>
                        <div class="filler"></div>
                        <div class="filler"></div>

                        <div class="filler"></div>
                        <div class="filler"></div>
                        <div class="item cell_101">101</div>
                        <div class="item cell_102">102</div>
                        <div class="filler"></div>
                        <div class="item cell_105">105</div>
                        <div class="item cell_106">106</div>
                        <div class="filler"></div>
                        <div class="item cell_109">109</div>
                        <div class="item cell_110">110</div>
                        <div class="filler"></div>
                        <div class="filler"></div>

                        {% for cell in range(12) %}
                        <div class="filler"></div>
                        {% endfor %}

                        <div class="item cell_88">88</div>
                        <div class="filler"></div>
                        <div class="item cell_91">91</div>
                        <div class="item cell_92">92</div>
                        <div class="filler"></div>
                        <div class="item cell_95">95</div>
                        <div class="item cell_96">96</div>
                        <div class="filler"></div>
                        <div class="item cell_99">99</div>
                        <div class="item cell_100">100</div>
                        <div class="filler"></div>
                        <div class="filler"></div>

                        <div class="filler"></div>
                        <div class="filler"></div>
                        <div class="item cell_89">89</div>
                        <div class="item cell_90">90</div>
                        <div class="filler"></div>
                        <div class="item cell_93">93</div>
                        <div class="item cell_94">94</div>
                        <div class="filler"></div>
                        <div class="item cell_97">97</div>
                        <div class="item cell_98">98</div>

                        {% for cell in range(13) %}
                        <div class="filler"></div>
                        {% endfor %}
                        <div class="item cell_86">86</div>

                        <div class="filler"></div>
                        <div class="filler"></div>
                        <div class="filler"></div>
                        <div class="item cell_76">76</div>
                        <div class="filler"></div>
                        <div class="item cell_79">79</div>
                        <div class="item cell_80">80</div>
                        <div class="filler"></div>
                        <div class="item cell_83">83</div>
                        <div class="item cell_84">84</div>
                        <div class="filler"></div>
                        <div class="item cell_85">85</div>

                        <div class="filler"></div>
                        <div class="filler"></div>
                        <div class="filler"></div>
                        <div class="item cell_75">75</div>
                        <div class="filler"></div>
                        <div class="item cell_77">77</div>
                        <div class="item cell_78">78</div>
                        <div class="filler"></div>
                        <div class="item cell_81">81</div>
                        <div class="item cell_82">82</div>
                        <div class="filler"></div>
                        <div class="filler"></div>

                        <div class="item cell_46"><span>46</span></div>
                        {% for cell in range(11) %}
                        <div class="filler"></div>
                        {% endfor %}

                        <div class="item cell_45">45</div>
                        <div class="filler"></div>
                        <div class="item cell_65">65</div>
                        <div class="item cell_66">66</div>
                        <div class="filler"></div>
                        <div class="item cell_69">69</div>
                        <div class="item cell_70">70</div>
                        <div class="filler"></div>
                        <div class="item cell_73">73</div>
                        <div class="item cell_74">74</div>
                        <div class="filler"></div>
                        <div class="filler"></div>

                        <div class="item cell_44">44</div>
                        <div class="filler"></div>
                        <div class="item cell_63">63</div>
                        <div class="item cell_64">64</div>
                        <div class="filler"></div>
                        <div class="item cell_67">67</div>
                        <div class="item cell_68">68</div>
                        <div class="filler"></div>
                        <div class="item cell_71">71</div>
                        <div class="item cell_72">72</div>
                        <div class="filler"></div>
                        <div class="item cell_50">50</div>

                        <div class="item cell_43">43</div>
                        {% for cell in range(10) %}
                        <div class="filler"></div>
                        {% endfor %}
                        <div class="item cell_43">49</div>
                        
                        <div class="item cell_42">42</div>
                        <div class="filler"></div>
                        <div class="item cell_53">53</div>
                        <div class="item cell_54">54</div>
                        <div class="filler"></div>
                        <div class="item cell_54">57</div>
                        <div class="item cell_57">58</div>
                        <div class="filler"></div>
                        <div class="item cell_61">61</div>
                        <div class="item cell_62">62</div>
                        <div class="filler"></div>
                        <div class="item cell_48">48</div>

                        <div class="item cell_41">41</div>
                        <div class="filler"></div>
                        <div class="item cell_51">51</div>
                        <div class="item cell_52"><span>52</span></div>
                        <div class="filler"></div>
                        <div class="item cell_55">55</div>
                        <div class="item cell_56">56</div>
                        <div class="filler"></div>
                        <div class="item cell_59">59</div>
                        <div class="item cell_60">60</div>
                        <div class="filler"></div>

                        {% for cell in range(15) %}
                        <div class="filler"></div>
                        {% endfor %}

                        <div class="item cell_31">31</div>
                        <div class="item cell_32">32</div>
                        <div class="filler"></div>
                        <div class="item cell_35"><span>35</span></div>
                        <div class="item cell_36"><span>36</span></div>
                        <div class="filler"></div>
                        <div class="item cell_39">39</div>
                        <div class="item cell_40">40</div>
                        <div class="filler"></div>
                        <div class="item cell_15">15</div>

                        <div class="item cell_10">10</div>
                        <div class="filler"></div>
                        <div class="item cell_29">29</div>
                        <div class="item cell_30">30</div>
                        <div class="filler"></div>
                        <div class="item cell_33">33</div>
                        <div class="item cell_34">34</div>
                        <div class="filler"></div>
                        <div class="item cell_37">37</div>
                        <div class="item cell_38"><span>38</span></div>
                        <div class="filler"></div>
                        <div class="item cell_14">14</div>

                        <div class="item cell_9">9</div>
                        {% for cell in range(10) %}
                        <div class="filler"></div>
                        {% endfor %}
                        <div class="item cell_13">13</div>

                        <div class="item cell_8">8</div>
                        <div class="filler"></div>
                        <div class="item cell_19">19</div>
                        <div class="item cell_20">20</div>
                        <div class="filler"></div>
                        <div class="item cell_23">23</div>
                        <div class="item cell_24">24</div>
                        <div class="filler"></div>
                        <div class="item cell_27">27</div>
                        <div class="item cell_28">28</div>
                        <div class="filler"></div>
                        <div class="item cell_12">12</div>

                        <div class="item cell_7">7</div>
                        <div class="filler"></div>
                        <div class="item cell_17">17</div>
                        <div class="item cell_18">18</div>
                        <div class="filler"></div>
                        <div class="item cell_21">21</div>
                        <div class="item cell_22">22</div>
                        <div class="filler"></div>
                        <div class="item cell_25">25</div>
                        <div class="item cell_26">26</div>
                        {% for cell in range(16) %}
                        <div class="filler"></div>
                        {% endfor %}

                        <div class="item cell_6">6</div>
                        <div class="item cell_5">5</div>
                        <div class="item cell_4">4</div>
                        <div class="item cell_3">3</div>
                        <div class="item cell_2">2</div>
                        <div class="item cell_1">1</div>

                        {% for cell in range(16) %}
                        <div class="filler"></div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}


                    

                    



                    








                    <!-- {% for x in range(336) %} {% endfor %} -->
                </div>
            </div>

            <!-- Header before carousel -->
            <br><br> <h2>Pictures of the Festival</h2> <br><br>
        </div>


        <div class="third">
        <!-- Facebook feed plugin and link -->
        <rounded mx-auto d-block>
            <p><a href="https://www.facebook.com/runningwaterdrawartsandcraftsfestival/" target="_blank" >Our Facebook Page</a></p>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Frunningwaterdrawartsandcraftsfestival%2F&tabs=timeline&width=340&height=865&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>        </rounded mx-auto d-block>
        </div>
    </div>
</div>

<!-- Carousel taken from https://getbootstrap.com/docs/5.0/components/carousel/  -->
<div class = "carouselContainer" id="carousel">
    <div id="carouselExampleFade" class="carousel carousel-dark carousel-fade slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static',filename='./carousel/' + image_name[0] )}}" alt="add alt">
            </div>
            {% for image in image_name %}
            <!--for loop inspired from https://stackoverflow.com/questions/59478573/how-to-display-images-from-folder-in-python-html-and-flask-->
            <div class="carousel-item">
                <img src="{{url_for('static',filename='./carousel/' + image)}}"alt="...">
            </div>
            {% endfor %}
        </div>
        <!--buttons that control next and previous image on carousel-->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>

        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div> <br> <br>

<script>
    function showList() {
        var x = document.getElementById("list-view");
        var y = document.getElementById("map-view");
        x.style.display = "block";
        y.style.display = "none";
    }
    function showMap() {
        var x = document.getElementById("map-view");
        var y = document.getElementById("list-view");
        x.style.display = "block";
        y.style.display = "none";
    }
</script>
<!--
<div class="grid1">
    <div class="grid_content">
        <div class="two_third">
            <h2>Send Us an Email: </h2>
        </div>
    </div>
</div>
-->

<!-- Footer -->
<footer id = "footer">
    <h2>Running Water Draw Festival 2023</h2>
</footer>
{% endblock %}
