{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"/>
<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>

<body id="vendor-information" class="background">
    <h1 class="payComp">Payment Confirmation</h1>
    <h2 class="text-center">Your Information</h2>
    <p>Name: {{ vendor.name }}</p>
    <p>Business Name: {{ vendor.business }}</p>
    <p>Address: {{ vendor.address }}</p>
    <p>City, State, Zip: {{ vendor.citystatezip }}</p>
    <p>Email Address: {{ vendor.email }}</p>
    <p>Phone Number: {{ vendor.phoneNum }}</p>
    <p>Business Description: {{ vendor.desc }}</p>
    <p>Booth Location: {{ vendor.boothLoc.replace(",", ", ") }}</p>
    <p>Number of Tables Required: {{ vendor.tableNum }}</p>
    <p>Numbers of Booths Required: {{ vendor.boothNum }}</p>
    <p>Application submitted on {{ vendor.date }}</p>
    <p>Cost: ${{ vendor.payment_amount }}</p>

    <script src="https://www.paypal.com/sdk/js?client-id=AU7r_2RfDPHln4inQxzcbuf6INXxQDeL3wC53Bm7saJKZLB9Oqf1kSl-bOgYpWRPQhqT6ijeSMtbDFrI&currency=USD"></script>
        <div id="paypal-button-container"></div>
        
    <script>
        paypal.Buttons({
            // Sets up the transaction when a payment button is clicked
            createOrder: (data, actions) => {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{ vendor.payment_amount }} 
                        }
                    }]
                });
            },
            // Finalize the transaction after payer approval
            // Finalize the transaction on the server after payer approval
            onApprove: (data, actions) => {
                return fetch(`/payments/{{ vendor.id }}/capture`, {
                    method: "post",
                })
                    .then((response) => response.json())
                    .then((orderData) => {
                        // Successful capture! For dev/demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        const transaction = orderData.purchase_units[0].payments.captures[0];
                        // alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                        // When ready to go live, remove the alert and show a success message within this page. For example:
                        const element = document.getElementById('paypal-button-container');
                        element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                    });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}