<!DOCTYPE html>
<html lang="en">
<head>
<title>Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
</head>
<body>

<!-- Navbar -->
    <div class="nav-bar">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">page2</a></li>
                <li><a href="#">vendorapp</a></li>
                <li><a href="#">link4</a></li>
                <li><a href="#">Link5</a></li>

            </ul>
            <a class="sign-in" href="#">Sign in</a>
        </nav>
    </div>

    <!-- Header -->
    <header>
    <h1>HEADER</h1>
    <p class="description">Description of event</p>
    <button class="top_button">Optional Link</button>
    <button class="top_button">Optional Link2</button>
    </header>

    <!-- First Grid -->
    <div class="grid1">
        <div class="grid_content">
            <div class="two_third">
            <h1>Running Water Festival</h1>
            <h5 
                class="h5_padding">The Plainview Rotary Club's 49th Annual Running Water Draw Festival will be held at the Ollie Liner Center (2000 S. Columbia St.) on Friday, Saturday and Sunday, October 20th, 21st & 22nd.
            </h5>
            <button class="top_button" id="spaces_booking">List View</button>
            <button class="top_button" id="spaces_booking">Map View</button>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Business</th>
                        <th>Description</th>
                        <th>Assigned 1</th>
                        <th>Assigned 2</th>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>Celebrity</td>
                        <td>farmer</td>
                        <td>58</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Suzy Lou</td>
                        <td>Merchant</td>
                        <td>sells shells</td>
                        <td>32</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Bugs Bunny</td>
                        <td>Charity</td>
                        <td>raises awarness</td>
                        <td>12</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>Yosemite</td>
                        <td>Cowboy</td>
                        <td>hunting</td>
                        <td>15</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Scott Pilgrim</td>
                        <td>Winning</td>
                        <td>playing games</td>
                        <td>28</td>
                        <td>29</td>
                    </tr>
                    <tr>
                        <td>The Rock</td>
                        <td>Acting</td>
                        <td>pro-wrestler</td>
                        <td>67</td>
                        <td></td>
                    </tr>
                </table>
                <h2>Pictures of the Festival</h2>
                <img src="https://clubrunner.blob.core.windows.net/00000009094/Carousels/dynamic-carousel/IMG_0217.jpeg" alt="temp image" class="center"> <br> <br>
            
            </div>

            <div class="third">
            <center>
                <h2><a href="https://www.facebook.com/rotaryplainview">Our Facebook Page</a></h2>
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Frotaryplainview%2Fposts%2Fpfbid0dZe3NiLeNaCv9DvBu9m9Rbm3iT9XK5DPpKM5C1MZv2vcVUV8nVgxDPdZ719BvncSl&show_text=false&width=500"style="border:none;overflow:hidden" 
                scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Frotaryplainview%2Fposts%2Fpfbid02o1mGCgTLRfTJUTjhznnKjF84kggjFebfudSJFDMsEzMcmZ37Jbxvw6WKiLAi26YXl&show_text=false&width=500" 
                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> <br><br>
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Frotaryplainview%2Fposts%2Fpfbid0FZjmWBQn4wDYcjrKG3xZi7XzQN8U5SAVRh8wTRSaVTLTjA2rRNfVBeprDdhv3LS7l&show_text=false&width=500" 
                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </center>
            </div>
        </div>
    </div>


    <footer>
        <h2>Add footer</h2>
    </footer>


</body>
</html>
